---

- name: "Add {{ item.name | default('extra_software') }} apt key from website"
  apt_key:
    url: "{{ item.url }}"
    id: "{{ item.id | default(omit) }}"
    state: present
  loop: "{{ local_system_extra_software.ubuntu }}"
  when: item.url is defined
  become: yes

- name: "Add {{ item.name | default('extra_software') }} apt key from keyserver"
  apt_key:
    id: "{{ item.id | default(omit) }}"
    keyserver: "{{ item.keyserver }}"
    state: present
  loop: "{{ local_system_extra_software.ubuntu }}"
  when: item.keyserver is defined
  become: yes

- name: "Add {{ item.name | default('extra_software') }} ppa"
  apt_repository:
    repo: "{{ item.repo }}"
    filename: "{{ item.name }}"
  loop: "{{ local_system_extra_software.ubuntu }}"
  become: yes

- name: "Install {{ item.package | default('extra_software') }}"
  apt:
    name: "{{ item.package }}"
    state: present
    cache_valid_time: 300
  loop: "{{ local_system_extra_software.ubuntu }}"
  become: yes
