---

name: Super-lint project

on:
  push: {}
  pull_request: {}

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          path: local_system
      - name: Run Super-Linter for everything
        uses: github/super-linter/slim@v4
        env:
          VALIDATE_ALL_CODEBASE: yes
          DEFAULT_BRANCH: main
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          ANSIBLE_DIRECTORY: /local_system
